---
import { Image } from '@astrojs/image/components';
---

<Image
  src='https://res.cloudinary.com/dloisor1x/image/upload/v1675899889/gizzverse/King-Gizzard-and-The-Lizard-Wizard_qt1bdp.webp'
  alt='main band cover'
  width={1310}
  height={500}
  format='webp'
  fit={'cover'}
  position={'top'}
  sizes='(max-width: 768px) 100vw, (max-width: 1200px) 50vw, 33vw'
/>
<h1 class="w-full pt-10 text-center text-4xl font-['Playfair_Display']">
  King Gizzard & The Lizard Wizard
</h1>
